.container {
}

.container > header {
  background: url("/blue-halo.png") no-repeat center center,
    radial-gradient(
        50.79% 50% at 50% 0%,
        rgba(255, 255, 255, 0.04) 0%,
        rgba(255, 255, 255, 0) 100%
      )
      no-repeat top center,
    #1c1354;

  background-size: 1728px 1728px;

  height: 768px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
}

.container > header > nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container > header > nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 24px;

  width: 100%;
  max-width: 1440px;
}

.container > header > nav ul {
  list-style: none;

  display: flex;
  gap: calc(56px - 16px);
  align-items: center;
  justify-content: center;
}

.container > header > nav ul li a {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */

  text-decoration: none;

  padding: 8px;

  transition: 0.2s;
}

.container > header > nav ul li a:hover {
  filter: brightness(0.8);
}

.hamburgerToggle {
  display: none;
}

.heroGraph {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1415px;
  height: 724px;
  /* pointer-events: none; */
  z-index: 0;
}

.heroDeco {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroText h1,
.heroText h2,
.heroText h3 {
  margin: 0;
}

.heroText h1 {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 67.2px */

  margin-bottom: 24px;
}

.heroText h2 {
  color: rgba(255, 255, 255, 0.78);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  max-width: 624px;
}

.heroText h2 strong {
  color: rgba(255, 255, 255, 0.78);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%;
}

.heroText h3 {
  color: rgba(255, 255, 255, 0.78);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.heroContent .CTA {
  margin-top: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 24px;

  width: 75%;
}

.heroContent .CTA a:first-child {
  display: flex;
  height: 56px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  background: #76f987;
  text-decoration: none;
  cursor: pointer;
  color: var(--eerie-black, #3d3d3d);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  flex-grow: 1;
  flex-basis: 279px;

  transition: 0.2s;
}

.heroContent .CTA a:last-child {
  display: flex;
  height: 56px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white, #fff);
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 279px;
  transition: 0.2s;
}

.heroContent .CTA a:hover {
  filter: brightness(0.8);
}

@media (max-width: 1024px) {
  .heroGraph {
    display: none;
  }

  .heroText h1 {
    color: var(--white, #fff);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
  }

  .heroText h2 {
    color: rgba(255, 255, 255, 0.78);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
  }

  .heroText h3 {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .heroContent .CTA {
    margin-top: 40px;

    flex-direction: column;
  }

  .heroContent .CTA a:first-child,
  .heroContent .CTA a:last-child {
    flex-basis: auto;
    width: 100%;
  }

  .hamburgerToggle {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;

    z-index: 100;
  }

  .hamburgerToggle div {
    width: 24px;
    height: 2px;
    background: var(--white, #fff);

    transition: 0.2s;
  }

  .hamburgerToggle div:first-child {
    margin-bottom: 6px;
  }

  .hamburgerToggle div:last-child {
    margin-top: 6px;
  }

  .hamburgerClose div:first-child {
    transform: rotate(45deg);
    margin: 0;
    position: absolute;
  }

  .hamburgerClose div:nth-child(2) {
    opacity: 0;
  }

  .hamburgerClose div:last-child {
    transform: rotate(-45deg);
    margin: 0;
    position: absolute;
  }

  .container > header > nav {
    position: fixed;
    z-index: 100;
  }

  .container > header > nav > div {
    padding: 16px;
    background: var(--dark-blue);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .container > header > nav > div > img {
    width: 80px;
    z-index: 100;
  }

  .container > header > nav ul {
    position: absolute;

    margin: 0;

    margin-top: 64px;

    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    gap: 40px;

    padding: 40px 16px;
    z-index: 99;

    background: var(--dark-blue);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    transform: translateY(-150%);

    transition: 0.2s;
  }

  .container > header > nav ul li a {
    width: 100%;
  }

  .navOpen {
    transform: translateY(0%) !important;
  }
}
